/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}


/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: "PTSerif";
  src: url("fonts/PTSerif-Regular.ttf") format("tff");
}

@font-face {
  font-family: "SansSemiExpanded";
  src: url("fonts/EncodeSansSemiExpanded-Regular.ttf") format("tff");
}

/* GLOBAL & HEADERS */

html {
  font-size: 10px;
  font-family: PTSerif, serif;
}

h1, h2 {
  font-family: SansSemiExpanded, sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

/* BODY */

body {
  line-height: 2;
  letter-spacing: 0.25px;
  word-spacing: 0.35px;
}

p, li {
  font-size: 1.3em;
}

section h2 + p {
  text-indent: 20px;
}

/* LINKS */
a {
  outline: none;
}

a:link {
  color: #944646;
}

a:visited, a:active {
  color: #464646;
}

a[href*="http"] {
  padding-right: 12px;
  background: url(extlink.png) no-repeat 100% 0;
  background-size: 10px 10px;
}

ul, ol {
  margin: 1.3rem 0;
}

ul {
  list-style-type: disc; 
}

ol {
  list-style-type: decimal;
}

/* NAV */

nav ul {
  margin-top: 0.5rem;
  padding-left: 0;

}

nav li {
  margin-bottom: 1rem;
  list-style-type: none;
}

nav li a {
  width: 100%;
  line-height: 4;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 1.25rem;
  border: 2px solid #7e3030;
}

